@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

/* Simplified button styles */

:root {
  --button-radius: 6px;
  --btn-primary-bg: var(--ph-600);
  --btn-primary-bg-subtle: var(--ph-700);
  --btn-primary-fg: #fff;
  --btn-primary-highlight: #6dc5ffb3;
  --gradient-shine: var(--gr-1000);
  --gradient-percent: 10%;
  --gradient-angle-offset: 0deg;
  --gradient-angle: 0deg;
  --animation: gradient-angle linear infinite;
  --duration: 3s;
}

.custom-button {
  position: relative;
  display: inline-block;
  border-radius: var(--button-radius, 6px);
  padding: 2px;
  background: transparent;
  z-index: 0;
  isolation: isolate;
}

.custom-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
  min-width: 200px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: var(--button-radius, 6px);
  background: var(--btn-primary-bg);
  color: var(--btn-primary-fg);
  height: 50px;
  min-height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: background 0.3s;
  box-shadow: inset 0 0 0 1px var(--btn-primary-bg-subtle), 0 4px 16px -2px #13141540, 0 8px 24px -4px #00101a4d;
}

.custom-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: var(--button-radius, 6px);
  padding: 0;
  z-index: 0;
  pointer-events: none;
  background: linear-gradient(var(--btn-primary-bg), var(--btn-primary-bg)) padding-box,
    conic-gradient(
      from calc(var(--gradient-angle) - var(--gradient-angle-offset)),
      var(--btn-primary-highlight),
      var(--btn-primary-highlight) var(--gradient-percent),
      var(--gradient-shine) calc(var(--gradient-percent) * 2),
      var(--btn-primary-highlight) calc(var(--gradient-percent) * 3),
      var(--btn-primary-highlight) calc(var(--gradient-percent) * 4)
    ) border-box;
  border: 1px solid transparent;
  box-shadow: inherit;
  transition: filter 0.3s;
  animation: border-gradient-angle var(--duration, 3s) linear infinite;
}

@keyframes border-gradient-angle {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.custom-button:hover::before {
  --duration: 1.5s;
}

.custom-button:active a {
  filter: brightness(0.95);
}